[submodule "_CTF"] 
  path = _CTF
  url = git://github.com/TheLastOfEugenes/Saves.git

[submodule "_HTB"]
  path = _HTB
  url = git://github.com/TheLastOfEugenes/Saves.git

[submodule "assets"]
  path = assets
  url = git://github.com/TheLastOfEugenes/Saves.git
