/*General styling*/

@font-face {
    font-family: "AliceInWonderland";
    src: url("../resources/AliceInWonderland-z051.ttf");
}

@font-face {
    font-family: "Funnel";
    src: url("../resources/FunnelDisplay-Bold.ttf");
}

h1 {
    border-bottom: none;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
    transition-delay: 0.3s;
}

.tooltip .tooltiptext {
    visibility: hidden;
}

h1 {
    margin-bottom: 0;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url("../images/background_4_pages_without_logo_v2.png");
    margin: 0;
    padding: 0;
    background-size: cover;           /* fill screen, keep aspect ratio */
    background-position: center;      /* keep center visible */
    background-repeat: no-repeat;     /* no tiling */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


/* text and boxes relative */

/* arrows */

.arrow1 {
    position: absolute;
    height: 7vh;
    width: 5vw;
    bottom: 5vh;
    right: 47.5vw;
}

.arrowshadow1 {
    position: absolute;
    height: 8vh;
    width: 6vw;
    bottom: 4.5vh;
    right: 47vw;
    filter: brightness(0%);
}

.arrow2 {
    position: absolute;
    height: 7vh;
    width: 5vw;
    bottom: -106vh;
    right: 47.5vw;
}

.arrow3 {
    position: absolute;
    height: 7vh;
    width: 5vw;
    bottom: -219vh;
    right: 47.5vw;
}

.toparrow1 {
    position: absolute;
    height: 5vh;
    width: 4vw;
    bottom: -15vh;
    right: 48vw;
    transform: scaleY(-1);
}

.toparrow2 {
    position: absolute;
    height: 5vh;
    width: 4vw;
    bottom: -125vh;
    right: 48vw;
    transform: scaleY(-1);
}

.toparrow3 {
    position: absolute;
    height: 5vh;
    width: 4vw;
    bottom: -235vh;
    right: 48vw;
    transform: scaleY(-1);
}

/* texts */

.glow-blue-box {
    background-color: rgb(38, 35, 55, 0.95);
    border-radius: 1.5vw;
    font-size: 20vh;
    color: #fff;
    text-align: center;
    box-shadow:
        0 0 1vh #0066ff,
        0 0 1.5vh #0080ff,
        0 0 2vh #0099ff,
        0 0 2.5vh #00b3ff,
        0 0 3vh #00ccff;
}

.green-text {
    font-size: 5vh;
    color: #9aff00;
    text-align: center;
}

.pink-text {
    font-size: 5vh;
    color: #ff4da6;
    text-align: center;
}

.glow-green {
    font-size: 5vh;
    color: #fff;
    text-align: center;
    text-shadow:
        0 0 1vh #9aff00,
        0 0 1.75vh #9aff00,
        0 0 2.5vh #9aff00;
}

.glow-pink {
    font-size: 5vh;
    color: #fff;
    text-align: center;
    text-shadow:
        0 0 1vh #ff4da6,
        0 0 1.75vh #ff4da6,
        0 0 2.5vh #ff4da6;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 6vh;
    margin: 0;
    transition: all 0.3s ease;
    /* Animation fluide */
}

.subtitle {
    font-size: 2vh;
    text-align: center;
    margin: 0;
    opacity: 0;
    /* Caché au départ */
    transform: translateY(2vh);
    /* Décalé vers le bas */
    transition: all 0.3s ease;
}

/* Au survol du conteneur */
.title-container:hover .title {
    transform: translateY(-3vh);
    /* Montez le titre */
}

.title-container:hover .subtitle {
    opacity: 1;
    /* Apparaît */
    transform: translateY(0);
    /* Revient à sa place */
}

.dictionary {
    font-family: garamond, sans-serif;
    color: white;
}

.dictionary.text {
    font-size: 2vh;
}

h1.dictionary {
    font-size: 4vh;
}

/* cards Backgrounds */
.light-grey-bg {
  background-color: #C1C0C2;
}

.light-pink-bg {
  background-color: #ECC5C6;
}

.light-blue-bg {
  background-color: #8A9DB1;
}

.light-brown-bg {
  background-color: #837D68;
}

/* Tags backgrounds */

.bright-orange-bg {
    background-color: rgba(255, 166, 0, 0.2);
}

.bright-orange-txt {
    color: orange;
}

.bright-blue-bg {
    background-color: rgba(4, 105, 221, 0.2);
}

.bright-blue-txt {
    color: rgba(4, 105, 221);
}

.bright-pink-bg {
    background-color: rgb(222, 116, 255, 0.3);
}

.bright-pink-txt {
    color: rgb(222, 116, 255);
}

.bright-green-bg {
    background-color: rgb(21, 155, 16, 0.2);
}

.bright-green-txt {
    color: rgb(21, 155, 16);
}

.bright-red-bg {
    background-color: rgb(212, 32, 32, 0.2);
}

.bright-red-txt {
    color: rgb(212, 32, 32);
}
















/* writeups cards styling */

.writeup-card {
    white-space: nowrap;
    background-color: rgba(28, 6, 79, 0.5);
    margin: 2vh auto;
    font-size: 3vh;
    padding: .5vw;
    border-radius: 1vw;
    width: 90%;
    border: .2vh solid black;
}

.shadow-nw {
    box-shadow: 
        -.4vh -.4vh .8vh #9aff00;
}

.shadow-ne {
    box-shadow: 
        .4vh -.4vh .8vh #ff4da6;
}

.shadow-sw {
    box-shadow: 
        -.4vh .4vh .8vh #f17c0e;
    margin-top: 4vh;
}

.shadow-se {
    box-shadow: 
        .4vh .4vh .8vh #f17c0e;
    margin-top: 4vh;
}

a.writeup-wrapper {
    color: white;
    text-decoration: none;
}

.writeup-wrapper small {
    font-size: 1.2vh;
}







/* frontpage */

div.frontpage {
    height: 108vh;
    width: 100vw;
    /* background-color: rgba(238, 255, 0, 0.3); */
    display: flex;
    align-items: center;
    justify-content: center;
}

div.frontpage p.glow-blue-box {
    width: min-content;
    white-space: nowrap;
    padding: 2%;
    margin: -20vh auto 0 auto;
    font-family: "AliceInWonderland", sans-serif;
}

#circle-title {
    position: absolute;
    top: 27.5vh;
    left: 32vw;
}

#circle-text {
  position: absolute;
  top: 30vh;
  left: 40vw;
}

/* writeups page */

div.writeups {
    height: 108vh;
    width: 100vw;
    /* background-color: rgba(255, 0, 0, 0.3); */
}

div.writeups>* {
    padding-left: 3vw;
}

div.writeups>h1 {
    padding-top: 3vh;
}

div.writeups table {
    width: 100%;
    height: 100%;
}

div.writeups table td.content {
    width: 40%;
    vertical-align: top;
    text-align: center;
}

div.writeups table td.image {
    width: 20%;
    vertical-align: top;
}

div.writeups table td.image img {
    width: 20vw;
    height: 20vw;
    margin: 0;
}

/* projects page */

div.projects {
    height: 108vh;
    width: 100vw;
    /*background-color: rgba(0, 0, 255, 0.3);*/
}

div.projects>.section-title {
    padding-top: 10vh;
    text-align: center;
    color: white;
    font-family: "Funnel", sans-serif;
    font-size: 8vh;
}

.project-card {
  flex: 0 0 30vh;
  height: 35vh;
  cursor: pointer;
  scroll-snap-align: start;
  transition: transform 0.3s;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.project-card > a {
  display: block !important;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
  position: relative;
  z-index: 1;
  text-decoration: none;

  margin-top: 2vh;
}

span.tag {
    display: inline;
    padding: .5vh;
    border-radius: 1vh;
}


.carousel-track::-webkit-scrollbar { display: none; }

.project-card:hover { 
  transform: scale(1.05);
  z-index: 2; 
}

.carousel-wrapper {
  position: relative;
  max-width: 140vh;
  margin: 0 auto;
  height: 40vh;
  padding-top: 10vh;
}

.carousel-track {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 0;
  padding: 2vh;
  scrollbar-width: none; 
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: rgb(255, 255, 255);
  border: none;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2.4vh;
  z-index: 9999;
}

.arrow:hover {
  background: rgba(0,0,0,0.9);
}

.prev { left: 1vh; }
.next { right: 1vh; }

.card-outer {
  width: 90%;
  height: 90%;
  position: relative;
  border-radius: 1.2vh;
  z-index: 5;
}

.card-inner {
  width: 96%;
  height: 90%;
  background-color: #f8f9fa;
  border-radius: .8vh;
  padding: 2.4vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 2%;
  left: 2%;
  right: 2%;
  bottom: 5%;
  z-index: 10;
}

.card-link {
  align-self: flex-start;
  margin-top: auto;
}

/* online cv */

div.onlineCV {
    height: 90vh;
    width: 90vw;
    /* background-color: rgba(0, 255, 0, 0.3); */

    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 10vh;
}

div.onlineCV a:not(#emaillink){
    text-decoration: none;
    color: black;
}

span#emaillink {
    color: blue;
    text-decoration: underline;
}

.grey-box {
  width: 35vw;
  max-width: 60vw;
  background: #3d3838;
  border-radius: 2vw;
  box-shadow: 
    2vw 3vh 12vw 1vw rgba(0,0,0,0.2),
    0 2vh 6vh 0 rgba(0,0,0,0.08);

  color: white;
  font-size: 1vw;

  padding: 0 2vw;

  float: left;

  margin-top: 3vh;
}

.beige-box {
  width: 35vw;
  max-width: 60vw;
  background: #dfc57d;
  min-height: 15vh;
  border-radius: 2vw;
  box-shadow: 
    2vw 3vh 12vw 1vw rgba(0,0,0,0.2),
    0 2vh 6vh 0 rgba(0,0,0,0.08);

  color: white;
  font-size: 1vw;

  padding: 0 2vw;

  float: left;
}

.black-box {
  width: 40vw;
  max-width: 60vw;
  background: #292727;
  border-radius: 2vw;
  box-shadow: 
    2vw 3vh 12vw 1vw rgba(0,0,0,0.2),
    0 2vh 6vh 0 rgba(0,0,0,0.08);

  color: white;
  font-size: 1vw;

  padding: 0 2vw;

  float: right;

  margin-top: 3vh;
}

.onlineCV h1 {
    margin-bottom: 0;
}

.onlineCV h3 {
    margin-bottom: 0.5vh;
    margin-top: 1vh;
}

.onlineCV p {
    margin-top: 0;
    margin-bottom: 0;
}
